.background-container {
    height: 100%;
    background: white;
    color: white;
  }
  
  .title {
    text-align: center;
    padding: 20px 0;
    font-size: 1.5rem;
    color: black;
  }
  
  ion-searchbar {
    --background: rgba(255, 255, 255, 0.2);
    --border-radius: 10px;
    margin-bottom: 15px;
  }
  
  ion-list {
    background: transparent;
  }
  
  ion-item {
    --background: rgba(255, 255, 255, 0.2);
    --border-color: transparent;
    margin-bottom: 10px;
    border-radius: 10px;
    color: black;
    box-shadow: 4px 4px 6px 2px rgba(0, 0, 0, 0.1);
  }
  
  ion-fab-button {
    --background: #3498db;
    --background-activated: #2980b9;
  }
  