/* login.page.scss */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
  }
  
  ion-icon {
    color: #ffffff;
  }
  