<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Configuración</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!-- Configuración de Precios y Servicios Frecuentes -->
    <ion-item [routerLink]="['/mainservices']">
      <ion-label>Configuración de Precios y Servicios Frecuentes</ion-label>
    </ion-item>

    <!-- Ajustes de Impuestos y Descuentos -->
    <ion-item [routerLink]="['/ajustes-impuestos']">
      <ion-label>Ajustes de Impuestos y Descuentos</ion-label>
    </ion-item>

    <!-- Personalización de Nota -->
    <ion-item [routerLink]="['/personalizar-nota']">
      <ion-label>Personalización de Nota de Venta</ion-label>
    </ion-item>

    <!-- Gestión de Roles -->
    <ion-item [routerLink]="['/manageroles']">
      <ion-label>Gestión de Roles y Permisos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
