<!-- mainservices.page.html -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/settings"></ion-back-button>
    </ion-buttons>
    <ion-title>Servicios Frecuentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let service of services">
      <ion-item>
        <ion-label>
          <h2>{{ service.name }}</h2>
          <p>Precio: ${{ service.price }}</p>
          <p>Materiales: {{ service.materials.length }}</p>
        </ion-label>
      </ion-item>
      
      <ion-item-options side="end">
        <ion-item-option color="primary" (click)="openServiceModal(service)">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="deleteService(service)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openServiceModal()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>